.sectionsignin1 
{
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  flex-wrap: wrap;
  overflow: hidden;
}

.sectionsignin2
{
  position: absolute;
  width: 450px;
  background: #eaf1ff;  
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 4px 4px 10px #0059ff;
}

.sectionsignin3
{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.gap
{
  position: relative;
  display: flex;
  align-items: center;
  gap: 20px;
}

.textcenter
{
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  color: #000000;
}

.fontsize
{
  font-size: 40px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
}

.bold
{
  font-weight: bold;
}

.btncenter
{
  text-align: center;
}